.button {
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  font-weight: bold;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
